@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e4e3e3;
  font-family: Kalam, FreeSans;
  margin: 0;
}

nav {
    background-color: #3b6978;
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
 
  
}

nav a {
  color: #000000;
  margin-left: 155px;
  text-decoration: none;
}

header {
  height: 100vh;
  text-align: center;
}

img {
  height: 400px;
  
}

img.center {
    display: block;
    margin: 0 auto;
}

.project-image {
  height: 230px;
  margin: 15px;
}

.project-title {
color: #000000;
   
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

section {
  text-align: center;
  padding: 20px;
  
}

section h2 {
  margin: 0
}

section p {
  margin-top: 0;
}
.bg-blue {
  background-color: #84a9ac;
  
}

.social-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-ul a {
  color: #e4e3e3;
  font-size: 25px;
  margin: 0 10px;
}

footer {
  background-color: #3b6978;
  text-align: center;
  padding: 15px;
}

footer .fa-heart {
  color: red;
}

@media only screen and (max-width: 400px;) {
  section {
    padding:15px;
  }
}